@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.uberAlles{ 
  background-color: rgb(233, 233, 233);
  border:black solid 1px;
}
.App {
  margin: auto;
  font-family: Rale;
}
.container{
  margin-top: 100px;
  margin-left:160px;
  margin-right:160px;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

.headerInfo{
  margin: 0px;
}
.profilePhoto {
  height:200px;
  width:auto;
}

.openSans{
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-bottom: 15px;
}
.jobWrapper{
  margin-bottom: 20px;
}
.jobInfo {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}
.jobName {
  font-style: italic;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
ul {
  margin:auto;
  margin-top: 10px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;

}

li{
  list-style-type: square ; 
}


.educationWrapper {
  margin-bottom: 20px;
}

.educationWrapper :hover{
  background-color: rgb(189, 189, 189);
}
.educationInfo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;

}
.schoolInfo {
  margin: 0px;

}
