.App {
}
.container{
  margin: 40px;
}
.header {
  border: rgb(184, 184, 184) solid 0.4px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headerInfo{
  margin: 0px;
}
.profilePhoto {
  height:200px;
  width:auto;
}

.jobWrapper{
  background-color: rgb(232, 226, 226);
  margin-bottom: 20px;
}
.jobInfo {
  display: flex;
  justify-content: space-between;
}
.jobName {
  font-style: italic;
  margin: auto;
}
ul {
  margin:auto;
  margin-top: 10px;
}
.educationWrapper {
  background-color: rgb(232, 226, 226);
  margin-bottom: 20px;
}

.educationWrapper :hover{
  background-color: rgb(189, 189, 189);
}
.educationInfo {
  display: flex;
  justify-content: space-between;
}
.schoolInfo {
  margin: 0px;
}
